/* static/css/styles.css PARA LA CARPETA 0 PM8 TIENDA ONLINE*/

/* PARTE 1------: Reset de márgenes y paddings / Temas Generales que aplican a todas las paginas/*/

body, html {
    font-family: 'Roboto', sans-serif; 
    /* Cambia 'Roboto' por la fuente que prefieras */
    /* font-size: 16px; 
    Tamaño de fuente por defecto */
    line-height: 1.5; 
    /* Espaciado de línea para mejorar la legibilidad */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Evitar cualquier posible desbordamiento horizontal */
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* banner */
.banner {
    background-color: #ffffff;
    color: #fff;
    font-size: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0;
    font-weight: 80;
}


/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

/* Logo */
.logo img {
    width: 120px;
    height: auto;
}

/* Iconos de navegación */
.nav-icons {
    display: flex;
    align-items: center;
    font-size: 26px; /* Ajusta el tamaño de los iconos */
}

.nav-icons a {
    color: #fff;
    font-size: 15px;
    margin-left: 20px;
    text-decoration: none;
}

.search-icon i, .cart-icon i {
    color: #ccc;
    font-size: 26px; /* Ajusta el tamaño de los iconos */
}

/* Menú hamburguesa: tres barras horizontales */
.menu-toggle .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
    color: rgb(116, 116, 116); /* Cambia el color de las barras a negro */
    margin: 6px 0; /* Mantiene la separación entre las barras */
}

.menu-toggle .hamburger span {
    display: block;
    width: 30px;
    height: 8px !important; ;
    color: #848484;
    margin: 4px 0;
    border: 2px solid rgb(117, 117, 117); /* Borde temporal para verificar */
}

/* Menú de enlaces (ocultos por defecto) */
.nav-links {
    display: none;
    background-color: #000000;
    padding: 10px;
}

.nav-links a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #555;
}

.nav-links a:hover {
    background-color: #555;
}

/* INICIO DEL FORMULARIO DE BUSQUEDA*/

/* Formulario de búsqueda */
.search-form {
    display: flex;
    justify-content: center; /* Centra horizontalmente el formulario */
    align-items: center; /* Centra verticalmente */
    gap: 10px; /* Espacio entre el input y el botón */
    margin: 0 auto; /* Asegura que el formulario esté centrado en el contenedor */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 500px; /* Limita el ancho máximo */
    padding: 10px;
}

/* Estilos del input de búsqueda */
.search-form input[type="text"] {
    width: 100%; /* Asegura que el input se ajuste al contenedor */
    max-width: 200px; /* Limita el ancho máximo del input */
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
    outline: none;
    background-color: #ffffff;
    font-size: 16px;
}

/* Botón con el icono de búsqueda */
.search-form button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: flex; /* Asegura que el botón y el icono estén alineados */
    align-items: center; /* Centra verticalmente el icono dentro del botón */
}

/* Estilos del icono de búsqueda */
.search-form .search-2icon {
    width: 30px; /* Tamaño del icono */
    height: 30px;
    transition: transform 0.3s ease; /* Efecto de crecimiento al pasar el cursor */
}

/* Efecto hover en el icono */
.search-form button:hover .search-2icon {
    transform: scale(1.2); /* Aumenta el tamaño del icono en un 20% */
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .search-form {
        padding: 5px;
    }

    .search-form input[type="text"] {
        max-width: 200px; /* Ajusta el ancho máximo en pantallas pequeñas */
    }

    .search-form .search-2icon {
        width: 25px; /* Reduce el tamaño del icono en pantallas pequeñas */
        height: 30px; /* Ajusta la altura del icono */
    }
}

/* FIN DEL FORMULARIO DE BUSQUEDA*/

/* tucarrito*/
h2 {
    text-align: center; /* Centra el texto horizontalmente */
    color: #242526; /* Cambia el color del texto (puedes modificar el valor del color) */
    font-size: 24px; /* Cambia el tamaño del texto (ajusta según lo que necesites) */
    margin-top: 10px; /* Añade espacio superior (opcional) */
    margin-bottom: 10px; /* Añade espacio inferior (opcional) */
}

/* PARTE 4------: INICI0 CARRUSEL DE PRESENTACION*/
.carousel-title {
    font-size: 35px; /* Tamaño de letra más grande */
    font-weight: bold; /* Asegura que la letra sea negrita */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    color: black; /* Color de texto más oscuro */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra gris */
}

.conteudo__geral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin-top: 10px; /* Modify the value to control the spacing */
    margin-bottom: 100px; /* Modify the value to control the spacing */
  }
  
  .conteudo__geral img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .conteudo__geral .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .conteudo__geral .container-carrossel {
    --widthItem: 140px;
    --heightItem: 140px;
    width: var(--widthItem);
    height: var(--heightItem);
    perspective: 1000px;
  }
  
  .conteudo__geral .carrossel {
    --rotatey: 0;
    font-size: 4rem;
    position: relative;
    transform: rotatey(var(--rotatey));
    transform-style: preserve-3d;
    user-select: none;
    cursor: grab;
  }
  
  .conteudo__geral .carrossel-item {
    opacity: 0.5;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: opacity 0.5s;
  }
  
  .conteudo__geral .carrossel-item:hover {
    opacity: 1;
  }
  
  .conteudo__geral .carrossel-item:nth-child(1) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background: linear-gradient(-229deg, #fbd52d, #ef3a7b);
  }
  
  /* Aplica lo mismo para los otros carrossel-item */
  .conteudo__geral .carrossel-item:nth-child(2) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background: linear-gradient(-229deg, #ff70af, #5fa8f5);
  }
  
  .conteudo__geral .carrossel-item:nth-child(3) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background: linear-gradient(-229deg, #0cebeb, #29ffc6);
  }
  .conteudo__geral .carrossel-item:nth-child(4) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background: linear-gradient(-229deg, #88f7f9, #048fff);
  }
  
  .conteudo__geral .carrossel-item:nth-child(5) {
    --rotate: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background: linear-gradient(-229deg, #0093e9, #80d0c7);
  }
  
  .conteudo__geral .carrossel-item:nth-child(6) {
    --rotatey: 0;
    transform: rotatey(var(--rotatey)) translatez(var(--tz));
    background: linear-gradient(-229deg, #cf91ff, #5782f5);
  }  

  @media screen and (min-width: 576px) {
    .conteudo__geral .container-carrossel {
      --widthItem: 250px;
      --heightItem: 200px;
    }
  }

/* PARTE 4------: FIN PRIMERA IMAGEN DE PRESENTACION */
/* Contenido principal */
main {
    flex: 0;
    padding: 0px;
    max-width: 1700px;
    margin-left: 10;
}

/* PARTE 5------: CLASIFICACION SEGUN CATEGORIAS */

/* Categorías */
.categories {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente (si es necesario) */
    flex-direction: row;
    /* Mantén los elementos en fila en pantallas grandes */
}

.categories ul {
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    /* Espacio entre los enlaces */
}

.categories ul li {
    margin-right: 15px;
    display: inline-block;
}

/* Estilo por defecto para los enlaces de las categorías */
.categories ul li a {
    text-decoration: none;
    border: 1px solid #565254;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
    /* Espaciado interno para los botones */
    border-radius: 5px;
    /* Bordes redondeados */
    font-family: 'Roboto', sans-serif; 
    /* Cambia 'Roboto' por la fuente que prefieras */
    font-size: 26px; 
    /* Ajusta el tamaño de la fuente si es necesario */
}

/* Hover: al pasar el ratón por encima */
.categories ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Categoría seleccionada: estilo activo */
.categories ul li a.active {
    background-color: #000000;
    color: #ffffff !important;
    /* Forzar color blanco en el texto */
    border-color: #020202;
    /* Ajustar el borde al mismo color del fondo */
}

/* Asegurarse de que las reglas de la navegación no afecten a las categorías */
.header-container .categories,
.header-container .categories ul,
.header-container .categories ul li,
.header-container .categories ul li a {
    all: unset;
    display: initial;
}
/* fin de la formateo de las  categorias*/

/* PARTE 6.CAUDRICULA DE PRODUCTOS*/
/* Cuadrícula de productos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 50px;
}

.product-card {
    background-color: #ffffff;
    /*border: 2px solid #595656; /* Amarillo dorado */
    border-radius: 8px;
    padding: 15px;
    font-family: 'Roboto', sans-serif; 
    /* Cambia 'Roboto' por la fuente que prefieras */
    font-size: 16px; 
    /* Ajusta el tamaño de la fuente si es necesario */
    text-align: center;
    transition: transform 0.3s, border-color 0.3s;
}

.product-card:hover {
    transform: scale(1.10);
    border-color: #000000;
    /* Rosa fluorescente */
}

.product-card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.product-card h3 {
    color: #3c383a;
    /* Rosa fluorescente */
    margin-bottom: 1px;
    margin-top: 1px;
}

.product-card .description {
    font-size: 0.9em;
    color: #666666;
    margin-bottom: 1px;
}

.product-card p {
    margin: 1px 0;
}

.add-to-cart-button {
    display: inline-block;
    background-color: #727272;
    /* Verde */
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.add-to-cart-button:hover {
    background-color: #000000;
}

/* Carrito de Compras */

/* Formularios de Contacto */
form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}


/* INICIO DE ESTILOS PARA CARRITO CAPTURA DE NOMBRE Y EMAIL DEL CLIENTE*/

/* Botones del carrito de compras */
/* Estilos generales del formulario */
#checkout-form {
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px; /* Espaciado interno del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 400px; /* Ancho máximo en monitores */
    margin: 0 auto; /* Centramos el formulario */
    color: #000000; /* Texto negro */
}

/* Estilo de los campos de entrada */
#checkout-form input[type="text"],
#checkout-form input[type="email"] {
    width: 90%; /* Que los campos ocupen todo el ancho disponible */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 20px; /* Espaciado entre campos */
    border: 1px solid #333; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
    background-color: #f9f9f9; /* Fondo suave para los campos */
    color: #333333; /* Color del texto */
}

/* Placeholder (texto dentro del input) */
#checkout-form input::placeholder {
    color: #393838; /* Color gris claro para el placeholder */
}

/* Estilo del botón de envío */
.checkout-button {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover en el botón */
.checkout-button:hover {
    background-color: #333333; /* Un gris más claro al pasar el mouse */
}

/* Estilo de los títulos */
#checkout-form h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px; /* Espaciado debajo del título */
}

/* Responsividad */
@media (max-width: 768px) {
    #checkout-form {
        margin: 0 5%; /* Separación del 5% desde los bordes izquierdo y derecho */
    }
}

/* FIN DE ESTILOS PARA CARRITO CAPTURA DE NOMBRE Y EMAIL DEL CLIENTE*/



/* Estilos para formatos del boton de actualizar el carrito */

/* Contenedor para las acciones del carrito */
.cart-actions-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenedor */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
    flex-wrap: wrap; /* Permite que los botones se ajusten en pantallas pequeñas */
    align-items: center; /* Alinea verticalmente los botones */
}

.cart-title {
    font-size: 30px; /* Tamaño de letra más grande */
    font-weight: bold; /* Asegura que la letra sea negrita */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    color: black; /* Color de texto más oscuro */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra gris */
}

/* Estilo para los botones */
.boton-2estilo {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none; /* Asegura que los enlaces no tengan subrayado */
    display: inline-block; /* Asegura que los enlaces se comporten como botones */
    width: 150px; /* Asegura que los botones tengan el mismo tamaño */
    text-align: center; /* Centra el texto dentro del botón */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del botón */
}

.boton-2estilo:hover {
    background-color: #0056b3;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .cart-actions-container {
        flex-direction: column; /* Alinea los botones verticalmente en pantallas pequeñas */
        align-items: center; /* Centra los botones verticalmente */
    }

    .boton-2estilo {
        width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
        max-width: 300px; /* Limita el ancho máximo de los botones */
        margin-bottom: 10px; /* Espacio inferior entre los botones */
        font-size: 12px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
        padding: 5px 10px; /* Reduce el padding en pantallas pequeñas */
    }
}

/* fin de acciones del carrito*/

/* Para el PDF CODIGO BORRADO*/
/* La Tabla del carrito*/

/* Centrar la tabla en monitores PRIMERAAAAAAAAAAAAAAAAAAAAAAAA*/
.table-responsive {
    display: flex;
    justify-content: center;
    /* Asegura que la tabla esté centrada horizontalmente */
    margin: 0 auto;
}

/* Ajustes para la tabla */
.styled-table {
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo en monitores grandes */
    border-collapse: collapse;
    margin-top: 20px; /* Añade un margen superior opcional */
}

/* Ajustes generales de la tabla */
.styled-table th,
.styled-table td {
    border: 1px solid #d3d3d3;
    padding: 10px;
    text-align: center;
}

/* Fondo alterno para las filas pares */
tr:nth-child(even) {
    background-color: #e8e8e8;
}

tr:hover {
    background-color: #f1f1f1;
}


/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .table-responsive {
        padding-left: 5%;
        padding-right: 5%;
        /* Asegura que haya un margen de 5% en ambos lados */
    }

    .styled-table {
        width: 100%; /* Asegura que la tabla ocupe el ancho completo */
        max-width: none;
        /* Elimina cualquier límite de ancho en pantallas pequeñas */
    }

    .styled-table th,
    .styled-table td {
        font-size: 1px; /* Tamaño de fuente más pequeño en móviles */
    }
    .styled-table td:first-child {
        font-size: 0.01em; /* Reduce el tamaño de la fuente solo en la primera columna */
    }

    /* Mantén el tamaño normal en los encabezados */
    .styled-table th {
        font-size: inherit;
    }
}


/* Pie de Página */
footer {
    background-color: #ffffff;
    /* Amarillo dorado */
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
}

footer p {
    color: #333333;
    font-size: 0.9em;
}

.social-links {
    margin-top: 100px;
}

.social-links a {
    display: inline-block;
    margin-right: 120px;
}

.social-links img {
    width: 80px;
    height: auto;
}

.footer-links,
.social-links {
    text-align: center;
    margin: 2px 0;
}

.footer-links a,
.social-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #333;
}

footer {
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    font-weight: bold;
}

.whatsapp-float {
    position: fixed;
    width: 70px;
    height: auto;
    bottom: 60px;
    right: 70px;
    z-index: 900;
    cursor: pointer;
}

.whatsapp-float img {
    width: 100%;
    height: auto;
}


/* Estilos específicos para la página de contacto */
.contact-page {
    padding: 20px;
}

.contact-title {
    font-size: 40px; /* Tamaño de letra más grande */
    font-weight: bold; /* Asegura que la letra sea negrita */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    color: black; /* Color de texto más oscuro */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra gris */
}

.contact-description {
    text-align: center;
    color: #666;
}

.contact-form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}
.contact-info {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.contact-info li {
    margin: 10px 0;
    color: #666;
}

.contact-info li a {
    color: #3c444c;
    text-decoration: none;
}

.contact-info li a:hover {
    text-decoration: underline;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Estilos responsivos para pantallas de celulares */
@media (max-width: 600px) {
    .contact-page {
        padding: 10px;
    }

    .contact-form {
        padding: 15px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        padding: 8px;
    }

    .contact-form button {
        padding: 8px;
    }
}

/* Estilos para los mensajes flash */
.flash-messages {
    margin: 20px;
    padding: 10px;
}

.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Estilos responsivos para pantallas de celulares */
@media (max-width: 600px) {

    .flash-messages {
        margin: 10px;
        padding: 5px;
    }

    .flash-message {
        padding: 8px;
    }
}


/* Estilos específicos para la página de clientes */
.clientes-page {
    padding: 20px;
}

.clientes-title {
    font-size: 40px; /* Tamaño de letra más grande */
    font-weight: bold; /* Asegura que la letra sea negrita */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    color: black; /* Color de texto más oscuro */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra gris */
}

.clientes-subtitle {
    font-size: 18px; /* Tamaño de letra más pequeño */
    font-weight: normal; /* Letra más fina */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
    color: #666; /* Color de texto más suave */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
}

.clientes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.cliente-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cliente-video {
    width: 90%;
    border-radius: 5px;
}

.cliente-info {
    margin-top: 10px;
}

.cliente-info p {
    margin: 5px 0;
    color: #666;
}

.cliente-info a {
    color: #007bff;
    text-decoration: none;
}

.cliente-info a:hover {
    text-decoration: underline;
}

/* Estilos responsivos para pantallas de celulares */
@media (max-width: 600px) {
    .clientes-container {
        flex-direction: column;
        align-items: center;
    }

    .cliente-card {
        width: 100%;
    }
}

/* static/css/styles.css */

/* Estilos específicos para la página de blog */
.blog-page {
    padding: 20px;
}

.blog-title {
    font-size: 40px; /* Tamaño de letra más grande */
    font-weight: bold; /* Asegura que la letra sea negrita */
    text-align: center; /* Centra el texto */
    margin-top: 20px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
    color: black; /* Color de texto más oscuro */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra gris */
}
.blog-subtitle {
    font-size: 18px; /* Tamaño de letra más pequeño */
    font-weight: normal; /* Letra más fina */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Espacio inferior */
    color: #666; /* Color de texto más suave */
    font-family: "Century Gothic", sans-serif; /* Fuente Century Gothic */
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.blog-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s;
}

.blog-card:hover {
    transform: scale(1.05);
}

.blog-image {
    width: 100%;
    border-radius: 5px;
}

.blog-info {
    margin-top: 10px;
}

.blog-card-title {
    margin: 5px 0;
    color: #333;
}

.blog-resumen {
    color: #666;
}

.articulo-completo {
    display: none;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
    z-index: 1000;
}

.articulo-imagen {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.cerrar-articulo {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    float: right;
}

.cerrar-articulo:hover {
    background-color: #0056b3;
}

/* Estilos responsivos para pantallas de celulares */
@media (max-width: 600px) {
    .blog-grid {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 100%;
    }

    .articulo-completo {
        width: 90%;
        top: 5%;
    }
}

/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* CSS RESPONSIVE*/
/* PARTE 1 AJUSTE DE INICIO */
@media (max-width: 768px) {

    body,
    html {
        width: 100%;
        height: 100%;
    }

    body {
        font-family: 'Arial', sans-serif;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        min-height: 0vh;
    }

    /* Banner y logo */
    .banner {
        background-color: #ffffff;
        color: #fff;
        text-align: center;
        padding: 0px 0;
    }

    .logo img {
        width: 60%;
        /* Hacer el logo responsivo*/
        max-width: 240px;
        /* Ancho máximo */
        height: auto; /* Mantener las proporciones */
        margin: 10px auto;
        display: block;
    }

    .nav-icons a {
        font-size: 20px;
        margin-left: 15px;
    }

    .menu-toggle .hamburger span {
        width: 35px;
        height: 28px !important; ;
        display: block;
        color: rgb(96, 90, 90); /* Cambia el color de las barras a negro */
        margin: 6px 10; /* Mantiene la separación entre las barras */
        height: 40px; /* Ajusta la altura del contenedor si es necesario */
    }
    

    /* Cuadrícula de productos */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 5px;
        /* Ajustar el espacio entre elementos */
    }

    .product-card {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 0px;
        text-align: center;
        transition: transform 0.3s;
    }

    .product-card:hover {
        transform: scale(1.10);
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        /* Ajustar la altura */
    }

}
/* PARTE 1 AJUSTE DE LA TABLA*/
@media (max-width: 768px) {
       /* Ocultar algunas columnas en móviles si es necesario
    td:nth-child(5), th:nth-child(5) {
        display: none; /* Esto ocultaría la columna de "Acciones" en pantallas pequeñas
    }*/

    /* PARTE 4 AJUSTE DE CATEGORIAS*/

    .categories {
        flex-direction: column;
        /* Las categorías se apilan en columna en pantallas pequeñas */
        align-items: center;
    }

    .categories ul {
        flex-direction: column;
        /* Alinea los elementos en una sola columna */
        align-items: center;
        gap: 15px;
        /* Reduce el espacio entre los elementos en móviles */
    }

    .categories ul li {
        margin-right: 0;
        /* Elimina el margen entre los elementos */
    }

    .categories ul li a {
        font-size: 18px;
        /* Reduce el tamaño de la fuente en móviles */
        padding: 8px 16px;
        /* Ajusta el padding para mantener proporción en pantallas pequeñas */
    }

    .whatsapp-float {
        right: 20px; /* Mueve el botón más hacia la derecha en móviles */
        bottom: 20px; /* Ajusta la distancia desde la parte inferior si es necesario */
    }
    
}










