<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>itaka's fitnesswear - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
    <body>
        <div class="banner">DELIVERY GRATIS EN BARQUISIMETO | CIERTAS CONDICIONES APLICAN</div>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo">
        </div>
        <header>
        <div class="header-container">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Inicio</a></li>
                    <li><a href="{{ url_for('my_orders') }}">Mis Clientes</a></li>
                    <li><a href="{{ url_for('contact') }}">Contactos</a></li>
                    <li>
                        <a href="{{ url_for('cart') }}">
                            <img src="{{ url_for('static', filename='images/car.png') }}" alt="Carrito" class="cart-icon">
                            ({{ session.get('cart')|length if session.get('cart') else 0 }})
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <form method="get" action="{{ url_for('search') }}" class="search-form">
            <input type="text" name="search" placeholder="Buscar productos..." value="{{ search_query if search_query else '' }}">
            <button type="submit">
                <img src="{{ url_for('static', filename='images/busqueda.png') }}" alt="Buscar" class="search-icon">
            </button>
        </form>
</header>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <footer>
            <div class="footer-links">
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('my_orders') }}">Mis Clientes</a>
                <a href="{{ url_for('contact') }}">Contactos</a>
                <a href="{{ url_for('cart') }}">
                        <img src="{{ url_for('static', filename='images/car.png') }}" alt="Carrito" class="cart-icon">
                        ({{ session.get('cart')|length if session.get('cart') else 0 }})
                </a>
                </li>
            </div>
            <div class="social-links">
                <a href="https://www.instagram.com/itakasfitnesswear" target="_blank"><img src="{{ url_for('static', filename='images/logoX.png') }}" alt="Twitter"></a>
                <a href="https://www.instagram.com/itakasfitnesswear" target="_blank"><img src="{{ url_for('static', filename='images/logoINSTA.png') }}" alt="Instagram"></a>
                <a href="https://www.instagram.com/itakasfitnesswear" target="_blank"><img src="{{ url_for('static', filename='images/logoFACE.png') }}" alt="Facebook"></a>
            </div>
        </footer>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <a href="https://wa.me/584245858011" class="whatsapp-float" target="_blank">
            <img src="{{ url_for('static', filename='images/logoWSP2.png') }}" alt="WhatsApp" />
        </a>
        <p>&copy; 2024 itaka - fitnesswear . Todos los derechos reservados.</p>
    </footer>
</body>
</html>
