<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumen de compra</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="pdf-header">
        <img src="C:\Users\Soly\Downloads\0 PM Virtual\000A Portfolio IAMP\0 PM8 Tienda online\static\images\pdf-logo.jpeg" alt="Logo de la Empresa" class="pdf-logo">
        <h1>Resumen de la Orden de Compra</h1>
        <p class="date-time">Fecha y hora de impresión: {{ current_date_time }}</p>
    </header>
    <table class="pdf-table">
        <thead>
            <tr>
                <th class="product-header">Producto</th>
                <th class="price-header">Precio Unitario</th>
                <th class="quantity-header">Cantidad</th>
                <th class="subtotal-header">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
            <tr>
                <td class="product-name">{{ item.name }}</td>
                <td class="product-price">${{ "{:.2f}".format(item.price) }}</td>
                <td class="product-quantity">{{ item.quantity }}</td>
                <td class="product-subtotal">${{ "{:.2f}".format(item.price * item.quantity) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="total-label"><strong>Total:</strong></td>
                <td class="total-amount">${{ "{:.2f}".format(total) }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>